.navbar-homeTemplate .navbar-logo{
    margin: 10px;
    font-weight: 700;
    color: #000000;
    padding-right: 6vh;
}

.search-text .form-control{
    border: 0px solid;
}

#dropdownMenuButton {
    color: black;
}

/* .navbar-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .navbar-logo > a {
    padding:2vh 0vh 2vh 0vh;
} */